{
    "Door": {
        "Pins": {
            "LatchEnable": 26,
            "LatchLock": 13,
            "LatchUnlock": 19,
            "SenseLocked": 16,
            "SenseUnlocked": 20,
            "SenseDoor": 21
        },
        "LatchMoveTime": 150,
        "LockingTimeout": 0
    },
    "Buttons": {
        "Red": 2,
        "Green": 3
    },
    "Web": {
        "Listen": ":80",
        "TLS": null
    }
}
