{
    "Door": {
        "Pins": {
            "LatchEnable": 9,
            "LatchLock": 10,
            "LatchUnlock": 11,
            "SenseLocked": 7,
            "SenseUnlocked": 25,
            "SenseDoor": 8
        },
        "LatchMoveTime": 70,
        "LockingTimeout": 350
    },
    "Buttons": {
        "Red": 0,
        "Green": 1
    },
    "Web": {
        "Listen": ":82",
        "TLS": null
    }
}
